extends layout

// # sign is ID of field
block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        br
        input#inputUserEmail(type="text", placeholder="useremail@example.com", name="useremail")
        button#btnSubmit(type="submit") submit